.comment {
  margin: 7px 0;
  padding: 5px;
  /*border: 1px solid #bbb;*/
  background: #fff;
  min-height: 50px;
  font: sans-serif;
}
.upic {
  padding-right: 10px;
  float: left;
  width: 8%;
  height: auto;
  border-radius: 50%;
}
#textWrap {
  padding-top: 5px;
  margin-top: 10px;
  border-top: 1px solid #E6E6E6;
}
.commentBox {
  width: 92%;
  float: right;
  resize: none;
  font-family: sans-serif;
  font-size:18;
  /*border: none;*/
  margin-bottom:30px;
  border-radius: 3px;
}
#oComName {
  color: steelblue;
  font-size:18;
}
.oCom {
  word-wrap: break-word;
  font-family: sans-serif;
  font-size:18;
}
#login, #logout {
  float:right;
  text-decoration:none;
  color: grey;
  font-size:15px;
  font-family:sans-serif;
}
#googleLogin,#fbLogin,#githubLogin {
  float:right;
  height: 20px;
  width:  20px;
  padding: 2px;
}
#show,#hide {
  float:right;
  text-decoration:none;
  color:grey;
  font-size:15;
}
#togComments {
  text-decoration:none;
  color:darkgrey;
}
#pen {
  height:12px;
  width:auto;
  opacity:.5;
}
#pen:hover {
  opacity:1;
}
#x {
  /*float: right;*/
  font-size: 15px;
  text-decoration:none;
  color:lightgrey;
}
#x:hover {
  color: steelblue;
}
.timeago {
  color: lightgrey;
  font-size: 15px;
}
.noul:hover,.nohl:visited,.nohl:link{
  text-decoration:none
}
