.comment {
  margin: 7px 0;
  padding: 5px;
  /*border: 1px solid #bbb;*/
  background: #fff;
  min-height: 50px;
  font: sans-serif;
}
.upic {
  padding-right: 10px;
  float: left;
  height: 50px;
  width: auto;
  border-radius: 50%;
}
#textWrap {
  padding-top: 5px;
  margin-top: 10px;
  border-top: 1px solid #E6E6E6;
}
#newComment {
  width: 90%;
  float: right;
  resize: none;
  font-family: sans-serif;
  font-size:18;
}
#oComName {
  color: steelblue;
  font-size:18;
}
#oCom {
  word-wrap: break-word;
  font-family: sans-serif;
  font-size:18;
}
#login, #logout {
  float:right;
  text-decoration:none;
  color: grey;
  font-size:18;
}
#googleLogin,#fbLogin,#githubLogin {
  float:right;
  height: 20px;
  width:  20px;
  padding: 2px;
}
#show,#hide {
  float:right;
  text-decoration:none;
  color:grey;
  font-size:15;
}
#togComments {
  text-decoration:none;
  color:darkgrey;
}
