h2,h3 {
  color: #404040;
}

h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

h4 {
  color: #808080;
  font-size: 18px;
  font-style: italic;
  font-family: Lora,'Times New Roman',serif;
  font-weight: 300;
  margin-top: 0;
}

a:hover, a:focus {
  text-decoration: none;
  color: #0085a1;
}

