#disqus_thread {
  margin-right: 30%;
  margin-left: 30%;
  min-width: 300px;
}


@media only screen and (max-width: 300px){
  #disqus_thread {
    /*when screen is less than 1000px, change bg color to blue.*/
   /*background-color:blue;*/ 
    margin-right: 10px;
    margin-left:  10px;
  }
}
