#endComments {
  margin-right: 30%;
  margin-left: 30%;
  min-width: 620px;
}


@media only screen and (max-width: 500px){
  #endComments {
    // screen < 500px, execute the following:
    width: 100%;
    margin-right: 10px;
    margin-left:  10px;
  }
}
