/* 
 * check out normalize.css on github
 * it's used to ensure that your styles
 * can be used across all browsers
 * plcaehold.it is used for place holding images of any dimension
 */

@media only screen and (max-width: 1000px){
  div {
    /*when screen is less than 1000px, change bg color to blue.*/
    /*background-color:blue;*/ 
  }
}

.description {
  color:grey;
  margin-left: 10px;
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
}

@media (min-width: 768px) .banner3 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  font-size: 24px;
}

.banner {
  display: block;
  /*background-color: #33bebe;*/
  background-color: #b84d45;
  background-image: url(../images/bg.png);
  text-align: left;
  padding: 60px;
  margin:0;
  font-family: Helvetica;
  color: white;
  font-weight:bold;
}

.banner p{
  color:rgba(255,255,255,.8);
}

div.banner h1,p {
  max-width: 948px;
  margin: auto;
}

*{ /* this is useful for resizing the screen */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

div.content h1{
  color:grey;
}

div.content,.cat {
  max-width: 948px;
  margin: auto;
}


h1 {
  font-family: 'Open Sans', sans-serif;
  /*font-family: Helvetica;*/
}

p {
  font-family: 'Slabo 27px', serif;
}


/* column classes*/
.row {
  display:flex;
  width:100%;
  border: 1px solid red !important;
  padding: 10px;
}
.col1 {
  width:8.33%;
}
.col2 {
  width:16.66%;
}
.col3 {
  width:25%;
}
.col4 {
  width:33.33%;
}
.col5 {
  width:41.66%;
}
.col6 {
  width:50;
}
.col7 {
  width:58.33%;
}
.col8 {
  width:66.66%;
}
.col9 {
  width:75%;
}
.col10 {
  width:83.33%;
}
.col11 {
  width:91.33%;
}
.col12 {
  width:100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

