.description {
    color:red;
}

h1 {
  display: block;
  background-color: #33bebe;
  width: 60%;
  text-align: center;
  padding: 20px;
}

.title {
  font-weight:bold
}

*{ /* this is useful for resizing the screen */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
   box-sizing: border-box;
}

.content {
  /*display: flex;*/
}

/*
body {
  color:blue
}
*/
