.description {
  color:grey;
  margin-left: 10px;
  box-sizing: border-box;
}

h1 {
  display: block;
  background-color: #33bebe;
  text-align: center;
  padding: 20px;
  margin:0;
  font-family: Helvetica;
  color: white;
}

.banner {
  font-weight:bold
}

*{ /* this is useful for resizing the screen */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
   box-sizing: border-box;
}

.content {
  display: flex;
  margin: 10px;
}

body {
  max-width: 948px;
  margin: auto;
}

/* column classes*/
.row {
  width:100%;
}
.col1 {
  width:8.33%;
}
.col2 {
  width:16.66%;
}
.col3 {
  width:25%;
}
.col4 {
  width:33.33%;
}
.col5 {
  width:41.66%;
}
.col6 {
  width:50;
}
.col7 {
  width:58.33%;
}
.col8 {
  width:66.66%;
}
.col9 {
  width:75%;
}
.col10 {
  width:83.33%;
}
.col11 {
  width:91.33%;
}
.col12 {
  width:100%;
}

