.description {
    color:red;
}

.title {
  font-weight:bold
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
   box-sizing: border-box;
}

.content {
  display: flex;
}

/*
body {
  color:blue
}
*/
