.description {
    color:grey;
}

h1 {
  display: block;
  background-color: #33bebe;
  text-align: center;
  padding: 20px;
  margin:0;
  font-family: Helvetica;
  color: white;
}

.banner {
  font-weight:bold
}

*{ /* this is useful for resizing the screen */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
   box-sizing: border-box;
}

.content {
  display: flex;
  margin: 10px;
}

body {
  max-width: 948px;
  margin: auto;
}
